.green {
    color: green;
}

.red {
    color: red;
}

li {
    list-style-type: none;
   }

   .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   img {
    width: 100px;
}