table,
td {
  border: 1px solid;
}

table {
  margin: 10% 30%;
  border-collapse: collapse;
  text-align: center;
  width: 600px;
  height: auto;
}

.header {
  background-color: #2a2a2a;
  color: white;
  font-size: 20px;
  text-align: center;
 height: 50px;
}

td {
  padding: 0.25rem 0.75rem;
  font-size: 20px;
}

tbody tr:nth-child(even) {
	background: color-mix(in srgb, #d3d3d3, transparent 60%);
}
